.player {
  display: flex;
  .canvas-container {
    position: relative;
    box-sizing: border-box;
    .canvas-timeline {
      width: 630px;
    }
  }
  .preview-container {
    margin-left: 10px;
    margin-right: 10px;
  }
  
}
