.player {
  .video-container {
    video {
      border: 1px solid gray;
    }
  }
  .canvas-container {
  }
  .preview-container {
    canvas {
      border: 1px solid gray;
    }
  }
  .time-metadata {
    height: 50px;
    border: 1px solid gray;
    .ant-row-flex {
      margin-top: 5px;
    }
    .time {
      .ant-btn {
        border-color: transparent;
        background-color: transparent !important;
        &:focus,
        &:hover {
          color: gray;
        }
        .ant-btn-disabled {
          background-color: transparent !important;
          color: transparent !important;
        }
      }
      [ant-click-animating-without-extra-node]:after {
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
      }
      i {
        font-size: 36px;
      }
    }
    .info {
      display: inline-block;
      color: gray;
      font-size: larger;
      font-weight: 500;
    }
    .progress {
      .ant-slider {
        margin: 0;
        padding: 0;
        height: 20px;
        .ant-slider-rail, .ant-slider-track, .ant-slider-step {
          height: 20px;
        }
        .ant-slider-handle {
          height: 24px;
          width: 5px;
          border-radius: 0;
          margin-top: -2px;
          margin-left: -4px;
        }
      }
    }
  }
}
