.Uploader {
    .input-url {
        width: 50%;
        display: none;
        margin-bottom: 10px;
    }
    .ant-upload {
        margin-bottom: 10px;
    }
    .ant-upload-list {
        display: none;
    }
}