.timeline {
    height: 100px;
    border: 1px solid gray;
    box-sizing: content-box;
    .frames {
        height: 100px;
        box-sizing: border-box;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        .canvas {
            box-sizing: border-box;
            display: inline-block;
            // border: 2px solid steelblue
        }
    }
}