.timeline {
    height: 200px;
    // width: 640px;
    border: 1px solid gray;
    .frames {
        height: 100px;
        margin-bottom: 2px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        canvas {
            border: 2px solid steelblue
        }
    }
    .time {
        height: 100px;
    }
}