.resizer {
  border: 2px solid #1890ff;
  border-style: dashed;
  box-sizing: border-box;
}
.resize {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50% !important;
  background: white !important;
  border: 3px solid #1890ff !important;
  position: absolute !important;
}
.top {
    cursor: n-resize !important;
}
.top-left {
  @extend .resize;
  left: -6px !important;
  top: -6px !important;
  cursor: nwse-resize !important;
}
.top-right {
  @extend .resize ;
  right: -6px !important;
  top: -6px !important;
  cursor: nesw-resize !important;
}
.bottom {
    cursor: s-resize !important;
}
.bottom-left {
  @extend .resize;
  left: -6px !important;
  bottom: -5px !important;
  cursor: nesw-resize !important;
}
.bottom-right {
  @extend .resize;
  right: -5px !important;
  bottom: -6px !important;
  cursor: nwse-resize !important;
}
.left {
    cursor: w-resize !important;
}
.right {
    cursor: e-resize !important;
}
